In [2]:
# Use this cell to set up import statements for all of the packages that you
#   plan to use.

# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html

import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
import seaborn as sns

%pylab inline

# The line below renders the charts in notebook style that allows zoom and resize.
%matplotlib notebook

# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
# The following code reads all the Gapminder data into Pandas DataFrames. 

"""
Read the data files and prepare the data for calculations and graphs
"""
def read_data(csvfile):
    path = './'
    datafile = pd.read_csv(path + csvfile)
    #print (datafile.index.values)
    return datafile

fd = read_data('flightdelays-2010-2020.csv')

fd.head()

Populating the interactive namespace from numpy and matplotlib

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2010,1,9E,Pinnacle Airlines Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",65.0,16.0,5.44,0.00,...,0.00,1.0,0.0,765.0,440.0,0.0,325.0,0.0,0.0,NaN
1,2010,1,9E,Pinnacle Airlines Inc.,AEX,"Alexandria, LA: Alexandria International",60.0,17.0,4.81,0.49,...,3.81,4.0,0.0,1029.0,297.0,99.0,335.0,0.0,298.0,NaN
2,2010,1,9E,Pinnacle Airlines Inc.,ALB,"Albany, NY: Albany International",81.0,34.0,9.73,1.42,...,3.28,1.0,1.0,1535.0,533.0,77.0,700.0,0.0,225.0,NaN
3,2010,1,9E,Pinnacle Airlines Inc.,ALO,"Waterloo, IA: Waterloo Regional",3.0,1.0,0.00,0.00,...,0.00,0.0,0.0,16.0,0.0,0.0,16.0,0.0,0.0,NaN
4,2010,1,9E,Pinnacle Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",1067.0,271.0,42.76,9.40,...,62.78,46.0,4.0,15932.0,4225.0,1098.0,6092.0,0.0,4517.0,NaN

In [5]:
tw = read_data('tweets-2015.csv')
tw.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [9]:
len(tw)

14640

In [10]:
len(fd)

175915

In [11]:
print ("Sample of the Twitter Airline sentiment in 2015")
print (tw.head(3))

Sample of the Twitter sentiment for Southwest Airlines in 2015
             tweet_id airline_sentiment  airline_sentiment_confidence  \
0  570306133677760513           neutral                        1.0000
1  570301130888122368          positive                        0.3486
2  570301083672813571           neutral                        0.6837

  negativereason  negativereason_confidence         airline  \
0            NaN                        NaN  Virgin America
1            NaN                        0.0  Virgin America
2            NaN                        NaN  Virgin America

  airline_sentiment_gold        name negativereason_gold  retweet_count  \
0                    NaN     cairdin                 NaN              0
1                    NaN    jnardino                 NaN              0
2                    NaN  yvonnalynn                 NaN              0

                                                text tweet_coord  \
0                @VirginAmerica What @dhepburn said.         NaN
1  @VirginAmerica plus you've added commercials t...         NaN
2  @VirginAmerica I didn't today... Must mean I n...         NaN

               tweet_created tweet_location               user_timezone
0  2015-02-24 11:35:52 -0800            NaN  Eastern Time (US & Canada)
1  2015-02-24 11:15:59 -0800            NaN  Pacific Time (US & Canada)
2  2015-02-24 11:15:48 -0800      Lets Play  Central Time (US & Canada)

In [12]:
print ("Sample of the flight delay 2010-2020")
print (fd.head(3))

Sample of the flight delay 2010-2020
   year   month carrier            carrier_name airport  \
0  2010       1      9E  Pinnacle Airlines Inc.     ABE
1  2010       1      9E  Pinnacle Airlines Inc.     AEX
2  2010       1      9E  Pinnacle Airlines Inc.     ALB

                                        airport_name  arr_flights  arr_del15  \
0  Allentown/Bethlehem/Easton, PA: Lehigh Valley ...         65.0       16.0
1           Alexandria, LA: Alexandria International         60.0       17.0
2                   Albany, NY: Albany International         81.0       34.0

   carrier_ct   weather_ct  ...  late_aircraft_ct  arr_cancelled  \
0        5.44         0.00  ...              0.00            1.0
1        4.81         0.49  ...              3.81            4.0
2        9.73         1.42  ...              3.28            1.0

   arr_diverted   arr_delay   carrier_delay  weather_delay  nas_delay  \
0           0.0       765.0           440.0            0.0      325.0
1           0.0      1029.0           297.0           99.0      335.0
2           1.0      1535.0           533.0           77.0      700.0

   security_delay  late_aircraft_delay  Unnamed: 21
0             0.0                  0.0          NaN
1             0.0                298.0          NaN
2             0.0                225.0          NaN

[3 rows x 22 columns]

In [40]:
sentiment = tw.loc[:,'airline']
s = set( val for val in sentiment)
print("Number of unique values airline sentiment: ", len(s))
s

Number of unique values airline sentiment:  6

{'American', 'Delta', 'Southwest', 'US Airways', 'United', 'Virgin America'}

In [11]:
### Code below determines how if we need to do additional data wrangling.
### Total number of records
print(len(fd))
### Total number of keys
print (fd.keys())

import builtins
### Total number of non-null values 
for key in fd.keys():
    peds = fd[key]
    count = 0
    if (type(peds[0]) == type("str")):
         count = builtins.sum(1 for e in peds if e != "")
    else:
         count =builtins.sum(1 for e in peds if e >= 0)

    print (f'{key:20} : {count:5}')

175915
Index(['year', ' month', 'carrier', 'carrier_name', 'airport', 'airport_name',
       'arr_flights', 'arr_del15', 'carrier_ct', ' weather_ct', 'nas_ct',
       'security_ct', 'late_aircraft_ct', 'arr_cancelled', 'arr_diverted',
       ' arr_delay', ' carrier_delay', 'weather_delay', 'nas_delay',
       'security_delay', 'late_aircraft_delay', 'Unnamed: 21'],
      dtype='object')
year                 : 175915
 month               : 175915
carrier              : 175915
carrier_name         : 175915
airport              : 175915
airport_name         : 175915
arr_flights          : 175663
arr_del15            : 175460
carrier_ct           : 175663
 weather_ct          : 175663
nas_ct               : 175663
security_ct          : 175663
late_aircraft_ct     : 175663
arr_cancelled        : 175663
arr_diverted         : 175663
 arr_delay           : 175663
 carrier_delay       : 175663
weather_delay        : 175663
nas_delay            : 175663
security_delay       : 175663
late_aircraft_delay  : 175663
Unnamed: 21          :     0

There are very few columns that may have null columns. We will ignore the "Unnamed:21" column as there are no values in it.
The rest of the clean data will be used as is for this project.